.navbar {
      margin-bottom: 0;
      border-radius: 0;
      opacity: 0.9;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding:40px;
    }
 /******logooo***********/
  #logic{
    height: 1.5em;
  }
/*******fuuter*****/
#futer{
  background-color: #404040;
  /*background-color: #ff0000;*/
}
#ukras{
  border-color: #ff0000;
  border-width: 2vw;
  margin-bottom: 0;
}
footer p{
  color: white;
}

body{
  padding-top: 70px;
}

span img{
  height:2em; 
  width:2em;
}
footer span{
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 800px) {
  .mali {
    font-size: 6px;
  }
}
@media only screen and (max-width:533px)
{
  .dev_label_input
  {
      width: 80vw;
      height: 6vh;
    }
  .dev_label{
      margin-bottom: 1vw;
      width: 100%;
    }
    .dev_FormaKontakt{
      width: 25vw;
      margin: auto;
      float: left;
      display: inline-block;

    }
    .dev_table {
      border-spacing: 0.2vw;
      border-collapse: separate;
    }
    .dev_td{
      padding: 0.2vw;
    }
    .dev_kontakt{
      padding: 1vw;
      display: inline-block;
    }

    .dev_pitanja{
      margin-left: 0.8vw;
      padding: 0.8vw;
      display: inline-block;
    }
    .dev_input_text_email_tel{
      border-radius: 1vw;
      text-indent: 1vw;
    }
    .dev_textarea{
      border-radius: 2vw;
      text-indent: 1vw;
      width: 80vw;
      height: 20vh;
    }
}

/**Tabela za kontakt**/
label input{
  width: 350px;
  height: 40px;
}
label{
  margin-bottom: 20px;
  width: 100%;
  margin-top: 5px;
}
#FormaKontakt{
  width: 400px;
  margin: auto;
  float: left;
  display: inline-block;
  
}
table {
  border-spacing: 5px;
  border-collapse: separate;
}
td{
  padding: 3px;
}
#kontakt{
  padding: 10px;
  display: inline-block;
}

#pitanja{
  margin-left: 5px;
  padding: 10px;
  display: inline-block;
}
input[type="text"],input[type="tel"],input[type="email"]{
  border-radius: 10px;
  text-indent: 5px;
}
textarea{
  border-radius: 10px;
  text-indent: 5px;
}
