/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      opacity: 0.9;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding:40px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

 /*******carousel******/
 .carousel-inner > .item > img {
  height:30em;
}
  /******logooo***********/
  #logic{
  	height: 1.5em;
  }
/*******fuuter*****/
#futer{
	background-color: #404040;
	/*background-color: #ff0000;*/
}
#ukras{
	border-color: #ff0000;
	border-width: 2vw;
	margin-bottom: 0;
}
span img{
	height:2em; 
	width:2em;
}
footer span{
	display: inline-block;
	margin-right: 1em;
}
footer p{
	color: white;
}

body{
	padding-top: 50px;
}
#spam
{
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}

#spam p{
	position: absolute;
	bottom:0;
	right:0;
	margin: 0;
	width: 100%;
	text-align:center;
	font-size: 2em;
	background-color: #000;
	color:#fff;
	opacity:.8;
}

#nohiperlink{
	text-decoration:none;
	color:black;
}
