 .navbar {
      margin-bottom: 0;
      border-radius: 0;
      opacity: 0.9;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding:40px;
    }
 /******logooo***********/
  #logic{
  	height: 1.5em;
  }
/*******fuuter*****/
#futer{
	background-color: #404040;
	/*background-color: #ff0000;*/
}
#ukras{
	border-color: #ff0000;
	border-width: 2vw;
	margin-bottom: 0;
}
footer p{
	color: white;
}

body{
	padding-top: 70px;
}
#spam
{
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}

#spam p{
	position: absolute;
	top:20vw;
	width: 100%;
	text-align:center;
	font-size: 5em;
	background-color: #000;
	color:#fff;
	opacity:.8;
}

span img{
	height:2em; 
	width:2em;
}
footer span{
	display: inline-block;
	margin-right: 1em;
}

#spam img{
	margin: auto;
	width: 100%; /* Set width to 100% */
	min-height:200px;
}

@media only screen and (max-width: 800px) {
  .mali {
    font-size: 6px;
  }
}